@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}
.navbar {
  background-color: rgb(92, 41, 5);
  padding: 15px;
}
.subtitle-header{
  font-weight: 800;
  font-size: 22px;
}
p {
  font-size: 1em;
}
h1 {
  margin: 2% auto;
  text-align: center;
  color: rgb(14, 114, 114);
}
h2 {
  text-align: center;
  font-size: 25px;
  margin: 3% auto;
}
h3 {
  text-align: center;
}
h2 span {
  font-size: 18px;
  color: rgb(158, 156, 153);
}

.banner {
  background-image: url("../src/images/sun.png");
}
.about {
  background-color: azure;
}
.about-section {
  margin: 5% auto;
}
.about-header {
  padding: 15px;
}
.about-info {
  margin: 2% auto;
  padding: 15px;
}
.about-us {
  width: 400px;
  height: 400px;
  margin: 5px 15px;
  border-radius: 10%;
  box-shadow: 4px 4px 4px 4px rgb(188, 183, 183);
}
.about-text{
  padding: 15px;
  margin: 8px;
}
.about-photo {
  width: 100%;
  padding: 15px;
  background-color: rgb(242, 238, 229);
}
.about-more {
  margin: 5% auto;
  background-color: rgb(242, 238, 229);
  padding: 15px;
}
.park-div {
  padding: 15px;
  column-count: 2;
  width: 50%;
  margin: 0 auto;
}
.box-modal{
  text-align: center;
  height: 60vh;
}
li {
  list-style: none;
  line-height: 1.2em;
}
.camp-div {
  column-count: 4;
}
.park-btn {
  color: rgb(19, 77, 77);
}
.camp-btn {
  color: rgb(143, 98, 14);
}
h3,
h5 {
  color: rgb(10, 79, 79);
  padding: 15px;
}
h6 {
  text-align: center;
  font-weight: 600;
  padding: 15px;
}
.about-creation {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 5% auto;
}

.pricing {
  background-color: rgb(212, 234, 224);
  padding: 15px;
  text-align: left;
}
.features {
  background-color: rgb(236, 226, 212);
  padding: 15px;
  text-align: left;
}

.div-title {
  padding: 15px;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards {
  padding: 15px;
}
.camp-image {
  width: 400px;
  height: 300px;
}
.div-camps {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}
.div-camps div {
  margin: 2%;
}

.backBtn {
  color: rgb(10, 78, 78);
}
.campbox {
  background-color: bisque;
  overflow: auto;
  background: rgb(240, 237, 237);
  height: 100vh;
  margin: 5% auto;
}
.box-info {
  margin: 8% auto;
  display: flex;
  justify-content: space-between;
}

.scrolled {
  padding: 15px !important;
  display: block;
}
.paper {
  padding: 15px;
  width: 32%;
  line-height: 1.8em;
}
.altText {
  font-size: 12px;
}

a {
  color: aliceblue;
  text-decoration: none;
  margin: 0 12px;
}
a:hover {
  color: rgb(64, 196, 91);
}
p a {
  color: blue;
}
.btnlink {
  color: white;
}
.button {
  padding: 8px 16px;
}
.formData {
  margin: 3% auto;
  width: 80%;
}
.formData label {
  margin: 8px auto;
}

.form-input {
  width: 100%;
}
.label {
  font-size: 1.5em !important;
  font-weight: bold !important;
}
.buttons {
  margin: 5% auto;
}
.btn {
  margin: 0 8px !important;
  background-color: rgb(19, 128, 97) !important;
  color: white !important;
  padding: 12px 16px !important;
}
.btn:hover {
  margin: 0 8px !important;
  background-color: rgb(14, 147, 142) !important;
  color: white !important;
  padding: 12px 16px !important;
}
.submitbtn {
  width: 100% !important;
  margin: 2% auto !important;
  background-color: rgb(14, 147, 142) !important;
  padding: 12px !important;
  color: aliceblue !important;
}
.warning {
  background-color: rgb(148, 38, 38);
  color: white;
  padding: 15px;
}
.profile {
  width: 60%;
  margin: 5% auto;
}
.footer {
  background-color: black;
  color: gray;
  padding: 15px;
  
}
.container{
    display: flex;
    justify-content: space-between;
}
.container div{
  padding: 15px;
}
.subsData{
  background-color: rgb(213, 125, 52);
  padding: 15px;
  align-items: center;
}
.subs-input{
  width: 80%;
  
}
.subs-btn{
  background-color: rgb(9, 139, 130) !important;
  padding: 28px !important;
  color: azure !important;
  margin: 1.8% auto !important;
}

.col {
  margin: 3%;
}

.div-pages {
  padding: 15px;
  margin: 0 30%;
  text-align: center;
}

.modal-btn {
  background-color: rgb(14, 147, 142) !important;
  padding: 22px 44px !important;
  margin: 8% auto !important;
  color: aliceblue !important;
}
.subtitle {
  color: rgb(232, 237, 237);
  font-family: Georgia, serif;
  font-weight: 900;
  font-size: 40px;
}
.subp {
  color: antiquewhite;
  font-family: Georgia, serif;
  font-weight: 800;
}
#park,
#campground {
  padding: 15px;
  font-size: 18px;
  background-color: rgb(235, 229, 229);
  border: 2px solid rgb(14, 147, 58);
}
#date,
#time {
  border: 2px solid rgb(14, 147, 58);
}

.select {
  display: flex;
}
.select div {
  width: 100%;
}

.select-date {
  display: flex;
}
.select-date div {
  width: 100%;
}
.reviews-form{
  display: flex;
}
.div-reviews{
  margin: 5% auto;
  display: block;
}
#profile{
  width: 80px;
}
.profile{
  width: 150px;
}
.profile-container{
  margin: 5% auto;
}
.div-profile{
  display: flex;
}
.text-username{
  color: rgb(112, 44, 19);
}
.reviews-images{
  display: flex;
}
.reviews-images img{
  width: 200px;
  margin: 5px;
  border-radius: 8px;
}
.alert{
  background-color: rgb(189, 101, 28);
  color: azure;
  font-size: larger;
}
.text-comments{
  color: darkcyan ;
}
.card-header{
  margin: 5px;
  display: flex;
  align-items: center;
  
}
.card-header img{
  margin: 5px;
}
.reaction-link{
  color: #7c3a08;
}
.card-review{
  width: 70%;
  border: none;
}
.mb-3{
  background-color: rgb(247, 248, 248);
}
