@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}
p{
    font-size: 1.2em;
}
h1{
    margin: 3% auto;
    text-align: center;
    color: rgb(14, 114, 114);
}
h2{
    text-align: center;
    font-size: 25px;
    margin: 3% auto;
}
h2 span{
    font-size: 18px;
    color: rgb(158, 156, 153);
}

.banner{
    background-image: url('https://images.pexels.com/photos/131720/pexels-photo-131720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    background-color: rgb(237, 241, 241);
    padding: 15px;
    text-align: center;
}
.about-info{
    margin: 3% auto;
    padding: 15px;
}
h3{
    
    color: rgb(10, 79, 79);
}
.pricing{
    background-color: rgb(195, 235, 216);
    padding: 15px;
    text-align: left;
}
.features{
    background-color: rgb(208, 220, 237);
    padding: 15px;
    text-align: left;
}

.div-title{
    padding: 15px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     
}
.cards{
    padding: 15px;
    
}
.camp-image{
    width: 400px;
}
.div-camps{
    display: flex ;
    padding: 15px;
    justify-content: space-between;
    
}
.div-camps div{
    margin: 2%;
}

.bannerCamp{
    background-image: url('./images/2.jpg');
    background-size: cover;
    height: 100vh;
}
.bannerReview{
    background-image: url('https://images.pexels.com/photos/131720/pexels-photo-131720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
   
    background-size: cover;
}
.backBtn{
    color: rgb(10, 78, 78);
}

.campbox{
    background-color: bisque;
    overflow: auto;
    background: rgb(240, 237, 237);
    height: 100vh;
    margin: 5% auto;
}
.box-info{
    margin: 8% auto;
    display: flex;
    justify-content: space-between;
}

.scrolled{
    padding: 15px !important;
    display: block; 
}
.paper{
    padding: 15px;
    width: 33%;
    line-height: 1.8em;
}

.altText{
    font-size: 12px;
}
.parkImages{
    display: flex-row;
    justify-content: space-between;
    overflow: auto;
    column-count: 4;
    height: 450px;
    padding: 15px;
    margin-bottom: 5%;
}
 
a{
   color: aliceblue;
    text-decoration: none;
    margin: 0 12px;
}
a:hover{
    color: rgb(64, 196, 91);
}
p a{
    color: blue;
}

.btnlink{
    color: white ;
}
.button{
    padding: 8px 16px;
}
.formData{
    margin: 5% auto;
    width: 50%;
    
}
.formData label{
    margin: 8px auto;
}

.form-input{
    width: 100%;
   
}
.label{
    font-size: 1.5em !important;
    font-weight: bold !important;
}
.buttons{
    margin: 5% auto;
}
.btn{
    margin: 0 8px !important;
    background-color: rgb(19, 128, 97) !important;
    color: white !important;
    padding: 12px 16px !important;
}
.btn:hover{
    margin: 0 8px !important;
    background-color: rgb(19, 106, 128) !important;
    color: white !important;
    padding: 12px 16px !important;
}
.submitbtn{
    width: 100% !important;
    margin: 2% auto !important;
    background-color: rgb(227, 236, 232) !important;
    padding: 12px !important;
}
.warning{
    background-color: rgb(148, 38, 38);
    color: white;
    padding: 15px;
}
.profile{
    width: 60%;
    margin: 5% auto;
}
.footer{
    background-color: black;
    color: gray;
    padding: 15px;
    display: flex !important;
    justify-content: space-between !important;
}
.col{
    margin: 3%;
}