*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner{
    background-image: url('https://wallpaperaccess.com/full/393735.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerCamp{
    background-image: url('./images/camping.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannerReview{
    background-image: url('./images/reviews.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.parkInfo{
    padding: 15px;
}
.altText{
    font-size: 12px;
}
.parkImages{
    display: flex-row;
    justify-content: space-between;
    overflow: auto;
    column-count: 4;
    height: 450px;
    padding: 15px;
    margin-bottom: 5%;
}
 h1{
    text-align: center;
    color: rgb(14, 114, 114);
}
.cards{
    width: 100%;
    margin: 5px 5px;
    height: 400px;
}
.activityList{
    column-count: 4;
    background-color: aliceblue;
    padding: 15px;
    margin: 3% auto;
    height: 200px;
    overflow: auto;
}
.footer{
    background-color: black;
    color: gray;
    padding: 15px;
}
.alert{
    background-color: rgb(134, 67, 67);
    color: white !important;
    overflow: auto;
    height: 150px;
    text-align: center;
    padding: 15px;
    
}
a{
   color: aliceblue;
    text-decoration: none;
    margin: 0 12px;
}
a:hover{
    color: aquamarine;
}
p a{
    color: blue;
}
.links{
    display: flex;
    width: 100%;
    background-color: azure;
    
}
.button{
    padding: 8px 16px;
}

