
.homehero{
  background-image: url(../src/static/images/5.png);
  height: 100vh;
  background-size: cover;
  
}
.homeContent{
  text-align: center;
  width: 50%;
  padding: 15px;
  margin: 0 auto;
  background-image: url(../src/static/images/5.png);
  background-size: cover;
}
.title{
  color: rgb(0, 79, 128);
  font-weight: bold;
  
}
img{
  width: 150px;
  padding: 5px;
  background: rgb(0, 79, 128);
}
