.homehero{
  background-image: url(../src/static/images/5.png);
  height: 100vh;
  background-size: cover;
  
}
.homeContent{
  text-align: center ;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}
.title{
  color: rgb(6, 51, 76);
  font-weight: 800;
  
}
